.banner {
    width: 100%;
    height: 336px;
    border-radius: 30px;
    background: #0A0A0A;
    position: relative;
    margin: 0;
    padding: 0;
}

.image {
    width: 100%;
    height: 226.632px;
    flex-shrink: 0;
    border-radius: 30px;
    background: url('banner.jpg') lightgray 50% / cover no-repeat;
    position: relative;
    z-index: 0;
}

.image_border {
    width: 100%;
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 0px 30px 30px;
    background: rgba(0, 0, 0, 0.90);
    backdrop-filter: blur(1.5px);
    margin-top: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

@font-face {
    font-family: Rubik;
    src: url('fonts/Rubik-Regular.ttf');
}

.image_text {
    color: #FFF;
    font-family: Rubik;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 22px;
    margin-bottom: 22px;
}

body {
    background: #101010;
}

.rai_button {
    display: flex;
    width: 90%;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(54, 85, 165, 0.90);
    backdrop-filter: blur(1.5px);
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms;
}

.rai_text {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.tg-icon {
    width: 24px;
    height: 24px;
}

a {
    text-decoration: none;
}

.shishcards {
    width: 100%;
    height: 97px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #0A0A0A;
    margin-top: 15px;
    display: inline-flex;
    align-items: center;
}

.sc_image {
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    border-radius: 15px;
    margin-left: 20px;
}

.sc_title {
    color: #FFF;
    font-family: Rubik;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.sc_tint {
    color: #8F8F8F;
    font-family: Rubik;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 154px;
    margin-top: 8px;
}

.sc_text {
    margin-top: -5px;
    margin-left: 15px;
}

.sc_button {
    display: inline-flex;
    width: 100px;
    height: 31px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(54, 85, 165, 0.90);
    backdrop-filter: blur(1.5px);
    cursor: pointer;
    position: relative;
    margin-left: 30px;
    transition: background-color 1s ease-out 100ms;
}

.sc_btn_text {
    color: #FFF;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    user-select: none;
}

.profile {
    cursor: pointer;
    color: rgba(54, 85, 165, 0.90);
}

#timer {
    color: white; /* Начальный цвет */
    animation: timer-color 1s linear infinite;
}

@keyframes timer-color {
    0% {
      color: white;
    }
    50% {
      color: #BBB;
    }
    100% {
      color: #DCDCDC;
    }
  }

.rai_button:active {
    background: rgba(64, 103, 204, 0.90);
}

.sc_button:active {
    background: rgba(64, 103, 204, 0.90);
}

.help {
    width: 100%;
    height: 100px;
    border-radius: 30px;
    background: #0A0A0A;
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.help_button {
    display: flex;
    width: 90%;
    height: 64px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(125, 38, 194, 0.90);
    backdrop-filter: blur(1.5px);
    margin: auto;
    cursor: pointer;
    transition: background-color 1s ease-out 100ms;
}

.help_button:active {
    background: rgba(161, 71, 233, 0.90);
}

.help_text {
    color: #FFF;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.market_button {
    display: inline-flex;
    width: 100px;
    height: 31px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 30px;
    background: rgba(5, 13, 34, 0.90);
    backdrop-filter: blur(1.5px);
    position: relative;
    margin-left: 30px;
}
