body {
    background: #0E0D11;
}

div {
    width: 95%;
    height: 236px;
    flex-shrink: 0;
    border-radius: 100px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.nm {
    background: linear-gradient(0deg, rgba(0, 185, 41, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%), #090909;
}

.nm:hover {
    box-shadow: 0 5px 15px rgba(149, 238, 149, 0.23);
}
.st {
    background: linear-gradient(0deg, rgba(174, 83, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%), #090909;
}

.st:hover {
    box-shadow: 0 5px 15px rgba(255, 175, 93, 0.23);
}
.pl {
    background: linear-gradient(0deg, rgba(0, 49, 174, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%), #090909;
}

.pl:hover {
    box-shadow: 0 5px 15px rgba(93, 120, 255, 0.23);
}


@font-face {
    font-family: "Roboto Mono";
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}

a, p{
    color: #FFF;
    font-family: "Roboto Mono", monospace;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: auto;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    a, p {
        font-size: 32px;;
    }
}